.Note {
    .size-medium {
        font-size: 3rem;
    }

    .click {
        cursor: pointer;
    }

    .pr-1 {
        padding-right: 1em;
    }

    .card-content {
        padding-top: 0;
    }

    .html-content {
        li {
            list-style: square;
            margin-left: 2rem;
        }
    }

}
