<template>
	<div class="Note row">
		<div class="col s12">
			<div class="card grey lighten-4">
				<div class="card-title grey lighten-3">
					<div class="row">
						<div class="col s9 left-align valign-wrapper">
							{{ dateFormat(note.created) }}
						</div>
						<div class="col s3 right-align pr-1">
							<i class="material-icons size-medium amber-text" v-if="hasFocus">edit</i>
							<i class="material-icons size-medium green-text" v-if="!hasFocus">check</i>
							<i class="material-icons size-medium click red-text" @click="handleDeleteAction(note.id)">delete</i>
						</div>
					</div>
				</div>

				<div class="card-content" @click="handleFocusIn()">
					<div v-if="hasFocus" class="row">
						<div class="col s6 left-align">
							<h5>Enter note content : </h5>
						</div>
						<div class="col s12">
							<div class="input-field">
								<textarea ref="textarea" @focusout="handleFocusOut()" v-model="rawMd"
										class="materialize-textarea" rows="15" ></textarea>
							</div>
						</div>
					</div>
					<div v-else class="row">
						<div class="col s12 left-align html-content" v-html="parsedMd"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
  import marked from 'marked'
  import M from 'materialize-css/dist/js/materialize'

  import './_Note.scss';

  export default {
    data() {
      return {
        hasFocus: false,
        parsedMd: '',
        rawMd: '',
      }
    },
    props: ['note'],
    mounted() {
      this.rawMd = this.$props.note.content;
      this.parsedMd = marked(this.$props.note.content);
    },
    methods: {
      handleDeleteAction (id) {
        this.$emit('delete', id);
      },
      handleFocusIn () {
        this.hasFocus = true;
        // Set focus to the textarea field
        this.$nextTick().then(() => {
          this.$refs.textarea.focus();
          M.textareaAutoResize(this.$refs.textarea);
        })
      },
      handleFocusOut () {
        if (this.hasFocus) {
          this.hasFocus = false;
          this.parsedMd = marked(this.rawMd);

          this.$props.note.content = this.rawMd;
          this.$emit('update', this.$props.note);
        }
      },
      dateFormat (creationDate) {
        return creationDate.format("dddd D MMMM, YYYY kk:mm");
      }
    }
  }
</script>
