<template>
    <div class="Note">
        <div class="row">
            <div class="col s6">
                <h1>NoteApp</h1>
            </div>
            <div class="col s1 offset-s5">
                <button class="btn btn-floating right" @click="handleCreateNote()">
                    <i class="material-icons large">add_circle_outline</i>
                </button>
            </div>
        </div>
        <Note v-for="noteData in notes"  :key="`note-${noteData.id}`"
              :note="noteData"
              @delete="handleDeleteNote(noteData.id)"
              @update="handleUpdateNote($event)">
        </Note>
    </div>
</template>

<script>
    import uuid from 'uuid/v1';
    import moment from 'moment'
    import 'materialize-css/dist/css/materialize.min.css';
    import 'materialize-css/dist/js/materialize.min.js';

    import Note from './Note';
    export default {
        components: {
            Note
        },
        data() {
            return {
                notes: []
            }
        },
        mounted () {
            this.$store.dispatch('note/init').then(() => {
                this.notes = this.$store.getters['note/getNotes'];
            })
        },
        methods: {
            handleCreateNote() {
                let note = {
                    id: uuid(),
                    content: '',
                    created: moment(),
                };

                this.$store.dispatch('note/persistNote', {note: note}).then(() => {
                    this.notes = this.$store.getters['note/getNotes'];
                })
            },
            handleDeleteNote(id) {
                this.$store.dispatch('note/deleteNote', {note: {id: id}}).then(() => {
                    this.notes = this.$store.getters['note/getNotes'];
                })
            },
            handleUpdateNote (note) {
                this.$store.dispatch('note/updateNote', {note: note}).then(() => {
                    this.notes = this.$store.getters['note/getNotes'];
                })
            }
        }
    };
</script>
