<template>
  <div id="app" class="container">
    <NoteContainer></NoteContainer>
  </div>
</template>

<script>
import 'materialize-css/dist/css/materialize.min.css'
import NoteContainer from './components/NoteContainer/NoteContainer.vue'

export default {
  name: 'app',
  components: {
    NoteContainer
  }
}
</script>

<style lang="scss">
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
